#a {
    font: 'Bebas Neue', cursive
}

.bg-dark{
  opacity: 0.8;
}
.navbar-default {
Background: transparent;
} 

.navbar a{
    font-family: Verdana !important;
}

body {
  background-image: url(https://images.unsplash.com/photo-1519501025264-65ba15a82390?w=1600);
  background-size: cover;
  background-position: 50% 50%;
  min-height: 100vh;
